.home {
  /*background-image: url("../img/explosion-of-coins.jpg");*/
  background-image: radial-gradient(circle,rgb(183, 16, 189), #760A7A, #570363);
  width: 100%;
  height: calc((100% - 50px));
}

.text {
  margin: auto;
  width: 700px;
  padding-top: 50px;
  font-size: 20px;
  color: white;
}

.text ul {
  background: inherit;
  list-style-type: none;
}

.text img {
  text-align: center;
}

